@import 'variables';

body {
  /*background: $light-grey;*/
}

/*********** GRID LAYOUT ***************/
$tot-width: 100%;
$num-col: 12;
$gut-width: 2%;

$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col;

@mixin grid($geezy){
  width: ($geezy * $ind-col-width) + ($gut-width * ($geezy - 1));
  /*float: left;*/
  margin-right: $gut-width;
  &:last-child {
    margin-right: auto;
  }
}  

/*************** ROW AND COL FOR GRID ***********/

.row {
    margin-top: 2em;
    overflow: hidden;
 }  

.col {
  /*height: 2em;*/
  margin-bottom: 1em;
}


/***************************************/


@media (min-width:700px){
  .col{
    margin-bottom: 0;
  }
  .col-1 {
  @include grid(1);
  }

  .col-2 {
  @include grid(2);
  }

  .col-3 {
  @include grid(3);
  }

  .col-4 {
  @include grid(4);
  }
  
  .col-5 {
  @include grid(5);
  }
  
  .col-6 {
  @include grid(6);
  }
  
  .col-7 {
  @include grid(7);
  }
  
  .col-8 {
  @include grid(8);
  }
  
  .col-9 {
  @include grid(9);
  }
  
  .col-10 {
  @include grid(10);
  }
  
  .col-11 {
  @include grid(11);
  }
  
  .col-12 {
  @include grid(12);
  }

}

/************** UNIVERSAL AND VARIABLES **********************/

$PrimaryColor: #5C6BC0;

$SecondaryColor: #BC181D;

$ButtonColor: #FFEB3B;

$ButtonColorHover: #FDD835;

$PrimaryFont: avenir;

$SecondaryFont: arial;

a{
	color: black;
	text-decoration: none;
	font-family: $PrimaryFont;
}


/*************** BURGER DISPLAY ****************/


.burger-container{
	margin: 0 1em 0.5em 1em;
	overflow: hidden;
	border: 2px solid #f4f4f4;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 2px 0 rgba(0, 0, 0, 0.5);

	@media (min-width: 700px){
		margin: 0 auto 1em auto;
	}
}

.burger-picture{
	float: left;
	width: 25%;

	img{
		width: 5.5em;
		height: 6em;
	}

	@media (min-width: 700px){
		width: 30%;

		img{
			width: 10em;
			height: 8.3em;
		}
	}

	@media (min-width: 1100px){

		img{
			width: 13em;
			height: 10em;
		}	
	}
}

.burger-info{
	padding: 0.4em 0 0 0.2em;
	overflow: hidden;

	@media (min-width: 1100px){
		padding: 0.5em 1em 0 1em;
		float: left;
	}
}

.the-burger-name{
	font-size: 1.3em;
	font-family: $PrimaryFont;
	padding: 0em 0em 0.2em 0em;
	margin-left: 0.9em;
	font-weight: 700;

	@media (min-width: 700px){
		font-size: 1.6em;
		margin-left: 0.8em;
		padding: 0.5em 0em 0.2em 0.5em;
	}

	@media (min-width: 1100px){
		font-size: 2em;
		padding: 0.4em 0em 0.2em 0em;
	}

}

.the-place-name{
	font-size: 1em;
	font-family: $PrimaryFont;
	margin-left: 1em;

	@media (min-width: 700px){
		font-size: 1.4em;
		padding: 0em 0em 0em 0.5em;
	}

	@media (min-width: 1100px){
		font-size: 1.7em;
		padding: 0em 0em 0.3em 0em;
	}

}

.burger-name{
	margin: 0 auto;
	padding-right: 2em;
}

.voting-and-likes{
	font-family: $PrimaryFont;
	padding: 0.5em 0em 0em 0em;
	margin-left: 1em;
	font-size: 1em;

	@media (min-width: 700px){
		font-size: 1.1em;
		margin-left: 2em;
	}

	@media (min-width: 1100px){
		font-size: 1.3em;
		margin-left: 1.7em;
		padding: 0;
	}
}


.chevron-switch{
	margin: 0 auto;
	overflow: hidden;
}

/***************** NAV AND FOOTER **********************/

.nav-footer-bar{
	background-color: $SecondaryColor;
	overflow: hidden;
	margin-bottom: 0;
	padding-bottom: 0;
}

.logo-icon{
	width: 3em;
	font-size: 1.5em;
	color: white;
	padding: 0.4em;
	float: left;
	font-family: $PrimaryFont;
}

.icon-size{
	width: 3.5em;
}

.login-button{
	background-color: $ButtonColor;
	margin: 1.5em 1em 0em 0em;
	padding: 0.6em 0.5em 0.7em 0.5em;
	font-family: $PrimaryFont;
	font-size: 1em;
	text-align: center;
	float: right;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.15);

	@media (min-width: 700px){
		margin: 1em 1em 0em 0em;
		padding: 0.6em 1em 0.7em 1em;
		font-size: 1.1em;
	}
}

.login-button:hover{
	background-color: $ButtonColorHover;
}

/**************** TITLE AND SUGGESTION BUTTON *******************/

.title-button-container{
	margin: 0 auto;
	overflow: hidden;
}

.bba-title{
	float: left;
	font-family: $PrimaryFont;
	color: white;
	font-size: 1em;
	padding: 0.5em 0em 0em 0em;
	margin-left: 1em;

	@media (min-width: 700px){
		margin-left: 1em;
		font-size: 1.5em;
	}

	@media (min-width: 1100px){
		font-size: 2.1em;
	}
}

.suggestion-button{
	float: right;
	background-color: $ButtonColor;
	font-family: $PrimaryFont;
	padding: 0.5em;
	margin-right: 1em;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.15);

	@media (min-width: 700px){
		margin-right: 0;
		padding: 1em;
	
	}
}

.suggestion-button:hover{
	background-color: $ButtonColorHover;
}


/**************** BACKGROUND ***************/

.main-background{
	margin: 0em 0em 3em 0em;
}

.body-background{
	margin: 0 1em 0 1em;
	background-color: $PrimaryColor;
	padding: 1em 0em 3em 0em;

	@media (min-width: 700px){
		margin: 0 auto;
	}
}

/**************** INPUT FORM ********************/

.input-form-container{
	margin-left: auto;
	text-align: left;
	float: right;
	background-color: $PrimaryColor;
}

.form-title{
	font-size: 1em;
	color: white;
	font-family: $PrimaryFont;
	font-weight: normal;
}

.input-form{
	padding: 1em;
	display: none;
	margin: 0 auto;
}

.input-bars{
	font-family: $PrimaryFont;
	font-size: 1em;
	padding: 0.5em 0em 0.5em 0em;

	@media (min-width: 700px){
		font-size: 1em;
	}

	@media (min-width: 1100px){
		font-size: 1em;
	}
}

/**************** DISPLAY CONTAINER *************/

.display-title{
	margin: 0 0 0 1em;
	color: white;
	font-family: $PrimaryFont;
	font-weight: normal;
	font-size: 1.3em;

	@media (min-width: 700px){
		margin: 0 auto;
	}
}

.display-container{
	width: 90%;
	background-color: white;
	height: 10em;
	margin: 0 auto;
	font-family: $PrimaryFont;

	@media (min-width: 700px){
		width: 65%;
	}

	@media (min-width: 1100px){
		width: 55%;
	}

}

/**************** FOOTER ***********************/


.footer-info{
	font-family: $PrimaryFont;
	color: white;
	font-size: 1em;
	text-align: center;
	padding: 3em 0em 1em 0em;
	margin: 0;
}




