@import 'variables';

body {
  /*background: $light-grey;*/
}

/*********** GRID LAYOUT ***************/
$tot-width: 100%;
$num-col: 12;
$gut-width: 2%;

$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col;

@mixin grid($geezy){
  width: ($geezy * $ind-col-width) + ($gut-width * ($geezy - 1));
  /*float: left;*/
  margin-right: $gut-width;
  &:last-child {
    margin-right: auto;
  }
}  

/*************** ROW AND COL FOR GRID ***********/

.row {
    margin-top: 2em;
    overflow: hidden;
 }  

.col {
  /*height: 2em;*/
  margin-bottom: 1em;
}


/***************************************/


@media (min-width:600px){
  .col{
    margin-bottom: 0;
  }
  .col-1 {
  @include grid(1);
  }

  .col-2 {
  @include grid(2);
  }

  .col-3 {
  @include grid(3);
  }

  .col-4 {
  @include grid(4);
  }
  
  .col-5 {
  @include grid(5);
  }
  
  .col-6 {
  @include grid(6);
  }
  
  .col-7 {
  @include grid(7);
  }
  
  .col-8 {
  @include grid(8);
  }
  
  .col-9 {
  @include grid(9);
  }
  
  .col-10 {
  @include grid(10);
  }
  
  .col-11 {
  @include grid(11);
  }
  
  .col-12 {
  @include grid(12);
  }

}

/************** UNIVERSAL AND VARIABLES **********************/

$PrimaryColor: #6161C2;

$PrimaryFont: avenir;

a{
	color: black;
	text-decoration: none;
	font-family: $PrimaryFont;
}


/*************** BURGER DISPLAY ****************/


.burger-container{
	margin: 0 auto;
	overflow: hidden;
	border: 2px solid #f4f4f4;
	background-color: white;
}

.burger-picture{
	float: left;
	width: 30%;
	img {
		width: 100%;
	}
}

.burger-info{
	float: left;
	padding: 1em 1em 0 1em;
	overflow: hidden;
	font-family: $PrimaryFont;
}

.burger-name{
	float: left;
}

.voting-and-likes{
	float: right;
	padding: 2.5em 1em 0em 4em;
	font-size: 1.3em;
}

/***************** NAV BAR **********************/

.nav-bar{
	background-color: $PrimaryColor;
	height: 5em;
	overflow: hidden;
}

.logo-icon{
	width: 5em;
	font-size: 1.5em;
	color: white;
	padding: 1.1em;
	font-family: roboto;
	float: left;
	font-family: $PrimaryFont;
}

.login-button{
	width: 3em;
	height: 1em;
	background-color: #FFEB3B;
	float: right;
	margin: 1em 1em 0em 0em;
	padding: 0.6em 1em 1em 1em;
	font-family: roboto;
	font-size: 1.1em;
	text-align: center;
}

/**************** BODY BACKGROUND ***************/

.body-background{
	margin: 0 auto;
	background-color: $PrimaryColor;
	padding: 1em 0em 1em 0em;
}

/**************** INPUT FORM ********************/

.input-form-container{
	margin: 0 auto;
	text-align: left;
	background-color: $PrimaryColor;
}

.input-form{
	padding: 1em;

	h2{
		color: white;
		font-family: $PrimaryFont;
	}

	h4{
		font-family: $PrimaryFont;
		color: white;
	}
}

.input-bars{
	padding: 1em 0em 1em 0em;
}

/**************** DISPLAY CONTAINER *************/

.display-title{
	color: white;
	margin: 0 auto;
	font-family: $PrimaryFont;
}

.display-container{
	margin: 0 auto;
	background-color: white;
	height: 10em;
}






